* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
/*Header*/

header {
  height: 40px;
  background-color: black;
  padding-top: 10px;
}

header a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
}

.floatLeft  {
  float: left;
  margin-left: 50px;
}

.floatRight {
  float: right;
}


span {
  color: #24BA9f;
  font-weight: bold;
}

.menu li {
  display: inline-block;
  margin-left: 40px;
}

.menu {
  margin-right: 70px;
}

.submenu {
  display: none;
  background-color: black;
  color: white;
  width: 120px;
  height: 100px;
  position: absolute;
  font-style: 13px;
  margin-left: -20px;
}

nav > ul > li a:hover {
  border-bottom: 2px solid #24ba9f;
}

.hover:hover .submenu {
  display: block;
}

.submenu a {
  margin-left: -27px;
  line-height: 30px;
}

/*SECTION I - SLIDER*/

.slider {
  height: 500px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: -moz-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ie10+ */
  background: linear-gradient(182deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E0E0E0',GradientType=0 ); /* ie6-9 */;
}

.slider_image img {
  width: 50%;
  float: left;
  padding-top: 50px;
}

.slider_main {
  width: 50%;
  height: 500px;
  float: right;
  padding-top: 130px;
}

h1 {
  font-size: 40px;
  padding-bottom: 30px;
}

article {
  padding-right: 180px;
  margin-left: -50px;
  text-align: center;
  color: grey;
  line-height: 20px;
  font-size: 14px;
}

.button a {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 50px;
  position: absolute;
  width: 250px;
  height: 55px;
  background-color: #24BA9f;
  border-radius: 10px;
  margin-top: 30px;
}

.arrows a {
  font-size: 70px;
  font-weight: lighter;
  color: #24BA9f;
  text-decoration: none;

}
.floatLeft__arrow {
  float: left;
  margin-left: -550px;
  margin-top: -90px;
  position: relative;

}
.floatRight__arrow {
  float: right;
  margin-right: 50px;
  margin-top: -90px;
  position: relative;
}

/*SECTION I - OFFER*/

.offer {
  padding-bottom: 20px;
  position: relative;

}

.box1_offer  {
  margin-left: 60px;
}


.text_offer  {
  border: 1px solid silver;
  padding: 25px;
  position: absolute;
  padding-bottom: 40px;
  display: inline-block;
  width: 28%;
  margin:  0 10px;
}

.text_underline {
  font-size: 15px;
  font-weight: 600;
  width: 140px;
  border-bottom: 7px solid #24BA9f;
  padding-bottom: 2px;
}

.text_offer_large, .text_offer_large2 {
  color: grey;
  font-size: 14px;
  line-height: 22px;
}

.text_offer_large {
  padding-top: 10px;
}

.text_offer_large2 {
  padding-top: 20px;
}

.box1_offer, .box2_offer  {
  display: inline-block;
  width: 30%;
  position: relative;
}


.lighter{
  width: 331px;
  height: 65px;
  position: absolute;
  margin-top: -110px;
  background-color: rgba(255, 255, 255, 0.4);
}

.text_lighter {
  margin-left: 10px;
  padding-top: 15px;
}


/* SECTION II - PRICING */

.pricing {
  height: 700px;
  background: WhiteSmoke;
  margin-top: 77px;
  position: relative;

}
.price span {
  font-size: 17px;
  vertical-align: text-top;
  color: silver;
  font-weight: 500;

}

#circle_pln_blue_p span {
  font-size: 17px;
  vertical-align: text-top;
  color: #24BA9f;
  font-weight: 500;

}

#pricing_p, #form_p {
  width: 333px;
  margin-left: 60px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: normal;
}
.pricing_title, .form_title {
  margin-bottom: 80px;
}


.pricing_box {
  width: 333px;
  height: 500px;
  border: 2px solid silver;
  float: left;
  background-color: white;
  position: relative;

}
.pricing_box_1 {
  margin-left: 60px;


}
.pricing_box_3 {
  margin-right: 50px;

}
.pricing_box_2 {
  margin-left: 50px;
  margin-right: 50px;

}

.pricing_h1 {
  text-align: center;
  margin-top: -5px;
  font-size: 23px;
  color: #24BA9f;
  padding-bottom: 30px;
}

#pricing_box_blue {
  border: 2px solid #24BA9f;
  background-color: #24BA9f;
}

#circle_small_blue {
  background-color: white;
  border-color: white;
}
#circle_large_blue {
  background-color: #24BA9f;
  border-color: #24BA9f;
}
#pricing_h1_blue {
  color: white;
}

.two_circles {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  margin-top: -47px;
  padding: 12px;
}
.circle_large {
  border: 2px solid silver;
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
}
.circle_small {
  border: 3px solid silver;
  background-color: silver;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  left: 26px;
  top: 26px;
}
.circle_pln  {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid silver;
  margin: 0 auto;
  padding: 25px;
  padding-left: 15px;
}
.blue {
  background-color: white;
  color: #24BA9f;
  border-color: #24BA9f;
}

#circle_pln_blue_p {
  font-size: 45px;
  color: #24BA9f;
  text-align: center;
  font-weight: bold;
}
.price p {
  font-size: 45px;
  color: silver;
  text-align: center;
  font-weight: bold;

}
#circle_pln_blue_term {
  font-size: 16px;
  color: #24BA9f;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
}
.term p {
  font-size: 16px;
  color: silver;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
}
.pricing_product li {
  height: 45px;
  text-align: center;
  font-size: 25px;
  color: grey;
  padding-top: 5px;
}

.pricing_product_1 li:first-child {
  background-color: Gainsboro;
  margin-top: 30px;
}

.pricing_product_1 li:last-child {
  background-color: WhiteSmoke;
}


.pricing_product_2 li:first-child {
  background-color: white;
  margin-top: 30px;
}
#pricing_blue_li, #pricing_product_smoke {
  background-color: WhiteSmoke;
}

.pricing_product_2 li:last-child {
  background-color: white;
}
#pricing_product_grey {
  background-color: Gainsboro;
}
.pricing_button a {
  text-decoration: none;
  color: white;

}
.pricing_button {
  border: 1px solid #24BA9f;
  border-radius: 8px;
  background-color: #24BA9f;
  width: 130px;
  height: 35px;
  position: absolute;
  bottom: 20px;
  left: 100px;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  box-sizing: border-box;
}
.pricing_button_blue  {
  background-color: white;
  margin-top: 50px;
  border: 1px solid white;
}
.pricing_button_blue a {
  color: #24BA9f;
}

/* SECTION III - FORM*/

.form_red {
  position: relative;
}

.red_chair {
  margin-right: 60px;
  margin-top: -20px;
  width: 400px;
  float: right;
  display: inline-block;
}
.red_chair img {
  padding-left: 50px;
}
.checkbox img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #90EAD9;
  float: left;
  margin-right: 10px;
}

.checkbox {
  font-size: 22px;
  color: silver;
  margin-top: 40px;
  margin-bottom: 34px;
  margin-left: 20px;
  position: relative;
}
[value="zgoda"] {
  display: none;
}
[type="submit"] {
  width: 370px;
  height: 70px;
  background-color: #24BA9f;
  border-radius: 10px;
  border: 1px solid #24BA9f;
  color: white;
  font-size: 35px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  margin-left: 20px;
}

form {
  margin-left: 60px;
  margin-top: -30px;
  width: 55%;
}

form input {
  border: 1px solid #24BA9f;
  height: 70px;
  font-size: 35px;
  font-weight: lighter;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 15px;
  opacity: 0.5;
  font-family: Raleway, sans-serif;
}

textarea {
  width: 100%;
  height: 200px;
  padding-left: 15px;
  padding-top: 15px;
  opacity: 0.5;
  border: 1px solid #24BA9f;
  font-size: 35px;
  font-weight: lighter;
  font-family: Raleway, sans-serif;
}

/*FOOTER*/
footer {
  height: 130px;
}
.rights {
  margin-left: 55px;
  margin-top: 80px;
  color: silver;
  font-size: 17px;
  letter-spacing: 1px;
  float: left;

}
.logos {
  float: right;
  margin-top: 60px;
  margin-right: 60px;
  color: silver;
  font-size: 17px;
  letter-spacing: 1px;

}
.logos a:last-child {
  margin-left: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  color: silver;
  text-decoration: none;
}
.logos  span {
  color: silver;
}
