/*GLOBAL*/

* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
img {
  width: 100%;
}
span {
  color: #24BA9f;
  font-weight: bold;
}
/*HEADER*/

header {
  background-color: black;
}
header a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
}
header li {
  display: inline;
  margin-left: 40px;
}
nav ul {
  float: right;
  margin: 0 auto;
  padding: 10px;
  margin-right: 50px;
}
.logotype a {
  margin: 0 auto;
  padding-top: 10px;
  position: absolute;
  margin-left: 50px;
  letter-spacing: 1.5px;
}
.submenu {
  display: none;
  background-color: black;
  color: white;
  width: 120px;
  height: 150px;
  position: absolute;
  font-style: 13px;
  margin-left: 1.2%;
  z-index: 9;
}
.submenu a {
  text-align: center;
  line-height: 15px;
  display: block;
}
nav > ul > li a {
  border-bottom: 2px solid black;
}
nav > ul > li a:hover,
.logotype a:hover  {
  border-bottom: 2px solid #24ba9f;
  text-decoration: none;
  color: white;
}
.hover:hover .submenu {
  display: block;
}

/*SECTION SLIDER*/

.slider {
  padding-bottom: 0;
  margin-bottom: 30px;
  background: -moz-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ie10+ */
  background: linear-gradient(182deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E0E0E0',GradientType=0 ); /* ie6-9 */;
}
.slider_img {
  margin: 60px 0;
}
.slider_box {
  display: flex;
  flex-wrap: wrap;

}
.slider_text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.slider_text h1,
.slider_text p {
  padding-bottom: 10px;
  color: grey;
}

.slider_box .button {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 50px;
  width: 250px;
  height: 55px;
  background-color: #24BA9f;
  border-radius: 10px;
  margin-top: 30px;
}

.slider_box .button a {
  color: white;
}





