/*GLOBAL*/


* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
*:focus {
outline: none;
}
img {
  // width: 100%;
}
span {
  color: #24BA9f;
  font-weight: bold;
}
/*HEADER*/

header {
  background-color: black; 
}
header a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
}
header li {
  display: inline;
  margin-left: 40px;
}
nav ul {
  float: right;
  margin: 0 auto;
  padding: 10px;
  margin-right: 50px;
}
.logotype {
      margin: 10px 0;
      a {
  margin: 0 auto;
  padding-top: 10px;
  // position: absolute;
  margin-left: 50px;
  letter-spacing: 1.5px;
}
}
.submenu {
  display: none;
  background-color: black;
  color: white;
  width: 120px;
  height: 150px;
  position: absolute;
  font-style: 13px;
  margin-left: 1.2%;
  z-index: 9;
}
.submenu a {
  text-align: center;
  line-height: 15px;
  display: block;
}
nav > ul > li a {
  border-bottom: 2px solid black;
}
nav > ul > li a:hover,
.logotype a:hover  {
  border-bottom: 2px solid #24ba9f;
  text-decoration: none;
  color: white;
}
.hover:hover .submenu {
  display: block;
  content: "";
  }

.arrowDown:after {
  content: "↓";
  color: white;
  margin-left: 5px;
}
.arrowUp:after {
  content: "↑";
  color: white;
  margin-left: 5px;
}
nav {
  display: none;
}
.nav_mobile {
  ul {
    float: none;
  }
  display: block;
   ul li {
    display: block;
    .submenu {
      position: relative;
      height: 100%;
      li {
        margin: 0 auto;
      }
      a {
        text-align: left;
      }
    }
  }
}

/*SECTION SLIDER*/

.slider {
  padding-bottom: 0;
  margin-bottom: 30px;
  background: -moz-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ie10+ */
  background: linear-gradient(182deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E0E0E0',GradientType=0 ); /* ie6-9 */;
}
.slider_img {
  padding: 60px 0;
  img {
    width: 100%;
  }
  
}
.slider_box {     
  // display: flex;
  // flex-wrap: wrap;
}
.slider_text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 90px 0 ;
  h1,
  p {
  padding-bottom: 10px;
  color: grey;
  }
}
.slider_img ul li {
  display: none;
  
}
.slider_img ul li:first-child {
  display: block;
}
.slider_box .button {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  margin-bottom: 50px;
  width: 250px;
  height: 55px;
  background-color: #24BA9f;
  border-radius: 10px;
  margin-top: 30px;
  a {
  color: white;
  }
  a:hover {
  text-decoration: none;
  color: silver;
  }
}

.arrow_left{
    float: left;
}

.arrow_left {
    cursor: pointer;
}

.arrow_right {
    float: right;
    cursor: pointer;
}
.arrows {
  font-size: 90px;
  font-weight: lighter;
  color: #24BA9f;
  display: flex;
    margin-top: 13%;
}

/*SECTION OFFER*/

.lighter{
  width: 100%;
  height: 65px;
  margin-top: -80px;
  background-color: rgba(255, 255, 255, 0.4);
}

.lighter:hover {
  .text_underline {   
  border-bottom: 7px solid#24BA0f;
  }
}
.offer_product_box:hover {
  .text_underline {   
  border-bottom: 7px solid#24BA0f;
  }
}
.text_lighter {
  margin-left: 25px;
}
.text_underline {
  font-size: 15px;
  font-weight: 600;
  width: 240px;
  border-bottom: 7px solid #24BA9f;
  padding-bottom: 2px;
}
.offer_product {
  height: 215px;
  margin-bottom: 50px;
}

.offer_product_text {
  color: grey;
  font-size: 14px;
  line-height: 22px;
  padding-top: 12px;
}
.offer_product_box {
  border: 1px solid silver;
  height: 100%;
}
.offer_product_box p {
  margin: 0 10px;
}
.offer_product_title {
  padding-top: 10px ;
}
.box1_img {
  background-image: url("../src/images/box1_img.jpg");
  background-size: content;
  height: 215px;
  background-repeat: no-repeat;
  background-position: center;

}
.box2_img {
  background-image: url("../src/images/box2_img.jpg");
  background-size: content;
  height: 215px;
  background-repeat: no-repeat;
  background-position: center;
}


// ORDER //

.order_box {
  border: 2px solid  #24BA9f;
  margin-bottom: 25px;
  display: flex;
  position: relative;
}
.order>p {
  margin-bottom: 80px;
  margin-top: 50px;
}

.order_kind {
  font-size: 20px;
  font-weight: 200;
  color: silver;
  padding: 20px;
  margin: 0;
}

.order_choice {
  display: none;
}
.order_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display: block;
    position: absolute;
    right: 14px;
    top: 28px;
    cursor: pointer;
}
.showList {
  display: block;
}
//PRICING//

.pricing {
  height: 100%;
  background: WhiteSmoke;
  margin-top: 20px;
  position: relative;
  .pricing_boxes {
    margin-bottom: 50px;
  }
  .pricing_box {
    margin-bottom: 50px;
  }
}
.price span {
  font-size: 17px;
  vertical-align: text-top;
  color: silver;
  font-weight: 500;

}

#circle_pln_blue_p span {
  font-size: 17px;
  vertical-align: text-top;
  color: #24BA9f;
  font-weight: 500;

}

#pricing_p, #form_p {
  width: 333px;
  margin-left: 60px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: normal;
}
.pricing_title, .form_title {
  margin-bottom: 80px;
  margin-top: 60px;
}


.pricing_box {
  width: 100%;
  height: 500px;
  border: 2px solid silver;
  // float: left;
  background-color: white;
  position: relative;

}
.pricing_box_1 {
  margin-left: 60px;


}
.pricing_box_3 {
  margin-right: 50px;

}
.pricing_box_2 {
  margin-left: 50px;
  margin-right: 50px;

}

.pricing_h1 {
  text-align: center;
  margin-top: -5px;
  font-size: 23px;
  color: #24BA9f;
  padding-bottom: 30px;
}

#pricing_box_blue {
  border: 2px solid #24BA9f;
  background-color: #24BA9f;
}

#circle_small_blue {
  background-color: white;
  border-color: white;
}
#circle_large_blue {
  background-color: #24BA9f;
  border-color: #24BA9f;
}
#pricing_h1_blue {
  color: white;
}

.two_circles {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  margin-top: -42px;
  padding: 12px;
}
.circle_large {
  border: 2px solid silver;
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
}
.circle_small {
  border: 3px solid silver;
  background-color: silver;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  left: 26px;
  top: 26px;
}
.circle_pln  {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid silver;
  margin: 0 auto;
  padding: 25px;
  padding-left: 15px;
}
.circle_pln:hover {

}
.blue {
  background-color: white;
  color: #24BA9f;
  border-color: #24BA9f;
}

#circle_pln_blue_p {
  font-size: 45px;
  color: #24BA9f;
  text-align: center;
  font-weight: bold;
}
.price p {
  font-size: 45px;
  color: silver;
  text-align: center;
  font-weight: bold;

}
#circle_pln_blue_term {
  font-size: 16px;
  color: #24BA9f;
  text-align: center;
  font-weight: bold;
  margin: -10px;
  padding-left: 10px;
}
.term p {
  font-size: 16px;
  color: silver;
  text-align: center;
  font-weight: bold;
  margin: -10px;
  padding-left: 10px;
}
.pricing_product li {
  height: 45px;
  text-align: center;
  font-size: 20px;
  color: grey;
  padding-top: 8px;
}

.pricing_product_1 li:first-child {
  background-color: Gainsboro;
  margin-top: 30px;
}

.pricing_product_1 li:last-child {
  background-color: WhiteSmoke;
}


.pricing_product_2 li:first-child {
  background-color: white;
  margin-top: 30px;
}
#pricing_blue_li, #pricing_product_smoke {
  background-color: WhiteSmoke;
}

.pricing_product_2 li:last-child {
  background-color: white;
}
#pricing_product_grey {
  background-color: Gainsboro;
}
.pricing_button a {
  text-decoration: none;
  color: white;
}
.pricing_button a:hover {
  text-decoration: none;
  color: silver;
}
.pricing_button {
  border: 1px solid #24BA9f;
  border-radius: 8px;
  background-color: #24BA9f;
  width: 130px;
  height: 35px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 61px);
  text-align: center;
  font-size: 16px;
  padding: 7px;
  box-sizing: border-box;
  margin: -10px auto;
}
.pricing_button_blue  {
  background-color: white;
  margin-top: 50px;
  border: 1px solid white;
}
.pricing_button_blue a {
  color: #24BA9f;
}

//CONTACT//

.form_red {
  position: relative;
}

.red_chair {
  margin-right: 60px;
  margin-top: -20px;
  width: 400px;
  float: right;
  display: inline-block;
} 
.red_chair img {
  padding-left: 50px;
}
.checkbox img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #90EAD9;
  float: left;
  margin-right: 10px;
}

.checkbox {
  font-size: 22px;
  color: silver;
  margin-top: 40px;
  margin-bottom: 34px;
  position: relative;
  label {
    margin-left: 50px;
    margin-bottom: 40px!important;
  }
}
[value="zgoda"] {
  display: none;
}
[type="submit"] {
  width: 100%;
  height: 70px;
  background-color: #24BA9f;
  border-radius: 10px;
  border: 1px solid #24BA9f;
  color: white;
  font-size: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}
[type="submit"]:hover {
  color: silver;
}
form {
  padding-left: 0!important;
  margin-bottom: 50px
}
.form_send img {
  width: 100%;
}
form input {
  border: 3px solid #24BA9f;
  height: 70px;
  font-size: 25px;
  font-weight: lighter;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 15px;
  opacity: 0.5;
  font-family: Raleway, sans-serif;
}

textarea {
  width: 100%;
  height: 315px;
  padding-left: 15px;
  padding-top: 15px;
  opacity: 0.5;
  border: 3px solid #24BA9f;
  font-size: 25px!important;
  font-weight: lighter!important;
  font-family: Raleway, sans-serif!important;
}
input:focus,
textarea:focus {
  border: 3px solid #24BA0f;
}
.form_send {
   margin-top: -79px;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}

.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked+label::after {
    display: block;
}


//SECTION FOOTER//

.footer_box {
  // display: flex;
  // justify-content: space-between;
  margin: 80px 60px;
}
.rights {
  margin-top: 80px;
  color: silver;
  font-size: 17px;
  letter-spacing: 1px;
  float: left;
  margin-bottom: 50px;
}
.logos {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  color: silver;
  font-size: 17px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  a {
        margin: 0 5px;
  }
}
.logos a:last-child {
  // margin-left: 70px;
  font-size: 20px;
  letter-spacing: 1px;
  color: silver;
  text-decoration: none;
}
.logos  span {
  color: silver;
}




button.burger {
  width:60px;
  height:30px;
  border:none;
  background:transparent;
  position:relative;
  cursor:pointer;
  margin:20px;
  float: right;
  &:focus {
    outline:none;
  }
}
.nav_hidden {
  display: none;
}
  
  
  //  Menu Burger 1
  .burger_menu {
    &:after,
    &:before,
    span {
      width:100%;
      height:4px;
      border-radius:100px;
      position:absolute;
      left:0px;
      background:#923cbe;
      transform:rotate(0deg);
      transition: all 0.4s;
    }

    &:after,
    &:before {
      content:"";
    }

    &:after {
      top:0px;
      margin-top:0px;
      
    }

    &:before {
      bottom:0px;
      margin-bottom:0px;
     }

    span {
      top:50%;
      margin-top:-2px;
      }

    &.on {

      &:after {
        transform:rotate(135deg)translate(9px,-9px);
      }

      &:before { 
        transform:rotate(225deg);
        bottom:50%;
        margin-bottom:-2px;
      }

      span {
        transform:rotate(135deg);
      }

    }
  }
   



