* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
/*Header*/

header {
  height: 40px;
  background-color: black;
  padding-top: 10px;
}

header a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
}

.floatLeft  {
  float: left;
  margin-left: 50px;
}

.floatRight {
  float: right;
}


span {
  color: #24BA9f;
  font-weight: bold;
}

.menu li {
  display: inline-block;
  margin-left: 40px;
}

.menu {
  margin-right: 70px;
}

.submenu {
  display: none;
  background-color: black;
  color: white;
  width: 120px;
  height: 100px;
  position: absolute;
  font-style: 13px;
  margin-left: -20px;
}

nav > ul > li a:hover {
  border-bottom: 2px solid #24ba9f;
}

.hover:hover .submenu {
  display: block;
}

.submenu a {
  margin-left: -27px;
  line-height: 30px;
}

/*SLIDER*/

.slider {
  height: 500px;
  padding-bottom: 0;
  background: -moz-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(268deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* ie10+ */
  background: linear-gradient(182deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E0E0E0',GradientType=0 ); /* ie6-9 */;
}

.slider_image img {
  width: 50%;
  float: left;
  padding-top: 50px;
}

.slider_main {
  width: 50%;
  height: 500px;
  float: right;
  padding-top: 130px;
}

h1 {
  font-size: 40px;
  padding-bottom: 30px;
}

article {
  padding-right: 180px;
  margin-left: -50px;
  text-align: center;
  color: grey;
  line-height: 20px;
  font-size: 14px;
}

.button a {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 50px;
  position: absolute;
  width: 250px;
  height: 55px;
  background-color: #24BA9f;
  border-radius: 10px;
  margin-top: 30px;
}

.arrows a {
  font-size: 70px;
  font-weight: lighter;
  color: #24BA9f;
  text-decoration: none;

}
.floatLeft__arrow {
  float: left;
  margin-left: -550px;
  margin-top: -90px;
  position: relative;

}
.floatRight__arrow {
  float: right;
  margin-right: 50px;
  margin-top: -90px;
  position: relative;
}
